# 02: Data Processing with SQL

**Purpose**: This notebook demonstrates how to use SQL (via DuckDB) for advanced data processing, feature engineering, and exploratory analysis.

**Key SQL Concepts Covered**:
- Loading data from a pandas DataFrame into a SQL table.
- Data cleaning and type casting (using `TRY_CAST`).
- Feature engineering with `CASE` statements and date functions.
- Aggregations with `GROUP BY` and `HAVING`.
- Window functions (`RANK`, `AVG() OVER`).
- Common Table Expressions (CTEs) for complex query logic.
- `LEFT JOIN` to enrich data with aggregated metrics.

In [2]:
import pandas as pd
import numpy as np
import duckdb
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
import warnings

warnings.filterwarnings('ignore')
sns.set_style('whitegrid')
plt.rcParams['figure.figsize'] = (12, 6)

# Load the dataset from the previous step
%run ../src/read_s3_data.py

print(f"DuckDB version: {duckdb.__version__}")
print(f"Pandas version: {pd.__version__}")
print(f"Data loaded: {df.shape[0]:,} rows, {df.shape[1]} columns")

Reading SCMS_Delivery_History_Dataset.csv from s3://ml-supplychain-project ...
Data read successfully in df!
   ID Project Code            PQ # PO / SO # ASN/DN #        Country  \
0   1   100-CI-T01  Pre-PQ Process    SCMS-4    ASN-8  Côte d'Ivoire
1   3   108-VN-T01  Pre-PQ Process   SCMS-13   ASN-85        Vietnam
2   4   100-CI-T01  Pre-PQ Process   SCMS-20   ASN-14  Côte d'Ivoire
3  15   108-VN-T01  Pre-PQ Process   SCMS-78   ASN-50        Vietnam
4  16   108-VN-T01  Pre-PQ Process   SCMS-81   ASN-55        Vietnam

  Managed By  Fulfill Via Vendor INCO Term Shipment Mode  ...  \
0   PMO - US  Direct Drop              EXW           Air  ...
1   PMO - US  Direct Drop              EXW           Air  ...
2   PMO - US  Direct Drop              FCA           Air  ...
3   PMO - US  Direct Drop              EXW           Air  ...
4   PMO - US  Direct Drop              EXW           Air  ...

  Unit of Measure (Per Pack) Line Item Quantity Line Item Value Pack Price  \
0                         30                 19           551.0      29.00
1                        240               1000          6200.0       6.20
2                        100                500         40000.0      80.00
3                         60              31920        127360.8       3.99
4                         60              38000        121600.0       3.20

  Unit Price             Manufacturing Site First Line Designation  \
0       0.97     Ranbaxy Fine Chemicals LTD                    Yes
1       0.03      Aurobindo Unit III, India                    Yes
2       0.80  ABBVIE GmbH & Co.KG Wiesbaden                    Yes
3       0.07  Ranbaxy, Paonta Shahib, India                    Yes
4       0.05      Aurobindo Unit III, India                    Yes

  Weight (Kilograms) Freight Cost (USD) Line Item Insurance (USD)
0                 13             780.34                       NaN
1                358             4521.5                       NaN
2                171            1653.78                       NaN
3               1855           16007.06                       NaN
4               7590           45450.08                       NaN

[5 rows x 33 columns]
DuckDB version: 1.4.2
Pandas version: 2.3.3
Data loaded: 10,324 rows, 33 columns

## 2. Load Data from S3

In [3]:
# Load data from S3 using the existing script
%run ../src/read_s3_data.py

print(f"\nData loaded: {df.shape[0]:,} rows, {df.shape[1]} columns")

Reading SCMS_Delivery_History_Dataset.csv from s3://ml-supplychain-project ...
Data read successfully in df!
   ID Project Code            PQ # PO / SO # ASN/DN #        Country  \
0   1   100-CI-T01  Pre-PQ Process    SCMS-4    ASN-8  Côte d'Ivoire
1   3   108-VN-T01  Pre-PQ Process   SCMS-13   ASN-85        Vietnam
2   4   100-CI-T01  Pre-PQ Process   SCMS-20   ASN-14  Côte d'Ivoire
3  15   108-VN-T01  Pre-PQ Process   SCMS-78   ASN-50        Vietnam
4  16   108-VN-T01  Pre-PQ Process   SCMS-81   ASN-55        Vietnam

  Managed By  Fulfill Via Vendor INCO Term Shipment Mode  ...  \
0   PMO - US  Direct Drop              EXW           Air  ...
1   PMO - US  Direct Drop              EXW           Air  ...
2   PMO - US  Direct Drop              FCA           Air  ...
3   PMO - US  Direct Drop              EXW           Air  ...
4   PMO - US  Direct Drop              EXW           Air  ...

  Unit of Measure (Per Pack) Line Item Quantity Line Item Value Pack Price  \
0                         30                 19           551.0      29.00
1                        240               1000          6200.0       6.20
2                        100                500         40000.0      80.00
3                         60              31920        127360.8       3.99
4                         60              38000        121600.0       3.20

  Unit Price             Manufacturing Site First Line Designation  \
0       0.97     Ranbaxy Fine Chemicals LTD                    Yes
1       0.03      Aurobindo Unit III, India                    Yes
2       0.80  ABBVIE GmbH & Co.KG Wiesbaden                    Yes
3       0.07  Ranbaxy, Paonta Shahib, India                    Yes
4       0.05      Aurobindo Unit III, India                    Yes

  Weight (Kilograms) Freight Cost (USD) Line Item Insurance (USD)
0                 13             780.34                       NaN
1                358             4521.5                       NaN
2                171            1653.78                       NaN
3               1855           16007.06                       NaN
4               7590           45450.08                       NaN

[5 rows x 33 columns]

Data loaded: 10,324 rows, 33 columns

In [4]:
# Parse date columns
date_columns = [
    'PQ First Sent to Client Date',
    'PO Sent to Vendor Date',
    'Scheduled Delivery Date',
    'Delivered to Client Date',
    'Delivery Recorded Date'
]

for col in date_columns:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], errors='coerce')

# Create target variable
df['delay_days'] = (df['Delivered to Client Date'] - df['Scheduled Delivery Date']).dt.days
df['is_late'] = (df['delay_days'] > 0).astype(int)

print("Date columns parsed and target variable created!")

Date columns parsed and target variable created!

# Query 1: Delay rate by country
query = """
SELECT 
    Country,
    COUNT(*) as total_shipments,
    SUM(CASE WHEN is_late = 1 THEN 1 ELSE 0 END) as late_deliveries,
    ROUND(AVG(CASE WHEN is_late = 1 THEN 1.0 ELSE 0.0 END), 4) as delay_rate,
    ROUND(AVG(delay_days), 2) as avg_delay_days,
    ROUND(AVG("Freight Cost (USD)"), 2) as avg_freight_cost
FROM shipments
WHERE Country IS NOT NULL
GROUP BY Country
HAVING COUNT(*) >= 10
ORDER BY delay_rate DESC
LIMIT 15
"""

country_delay_rates = conn.execute(query).df()
print("Delay Rate by Country (Top 15):")
print("="*80)
print(country_delay_rates)

# Visualze delay rates (minor typo)
plt.figure(figsize=(12, 6))
plt.barh(country_delay_rates['Country'], country_delay_rates['delay_rate'])
plt.xlabel('Delay Rate')
plt.title('Top 15 Countries by Delivery Delay Rate (SQL Query)')
plt.tight_layout()
plt.show()

In [5]:
# Create database directory if it doesn't exist
db_path = Path('../data/processed')
db_path.mkdir(parents=True, exist_ok=True)

# Initialize DuckDB connection
db_file = '../data/processed/supply_chain.db'
conn = duckdb.connect(db_file)

print(f"DuckDB database initialized: {db_file}")
print(f"Connection: {conn}")

DuckDB database initialized: ../data/processed/supply_chain.db
Connection: <_duckdb.DuckDBPyConnection object at 0x116a3a430>

In [6]:
# Create table from pandas DataFrame
conn.execute("DROP TABLE IF EXISTS shipments")
conn.execute("CREATE TABLE shipments AS SELECT * FROM df")

# Verify table creation
row_count = conn.execute("SELECT COUNT(*) FROM shipments").fetchone()[0]
print(f"Table 'shipments' created with {row_count:,} rows")

# Show table schema
print("\nTable Schema:")
schema = conn.execute("DESCRIBE shipments").df()
print(schema)

Table 'shipments' created with 10,324 rows

Table Schema:
                     column_name   column_type null   key default extra
0                             ID        BIGINT  YES  None    None  None
1                   Project Code       VARCHAR  YES  None    None  None
2                           PQ #       VARCHAR  YES  None    None  None
3                      PO / SO #       VARCHAR  YES  None    None  None
4                       ASN/DN #       VARCHAR  YES  None    None  None
5                        Country       VARCHAR  YES  None    None  None
6                     Managed By       VARCHAR  YES  None    None  None
7                    Fulfill Via       VARCHAR  YES  None    None  None
8               Vendor INCO Term       VARCHAR  YES  None    None  None
9                  Shipment Mode       VARCHAR  YES  None    None  None
10  PQ First Sent to Client Date  TIMESTAMP_NS  YES  None    None  None
11        PO Sent to Vendor Date  TIMESTAMP_NS  YES  None    None  None
12       Scheduled Delivery Date  TIMESTAMP_NS  YES  None    None  None
13      Delivered to Client Date  TIMESTAMP_NS  YES  None    None  None
14        Delivery Recorded Date  TIMESTAMP_NS  YES  None    None  None
15                 Product Group       VARCHAR  YES  None    None  None
16            Sub Classification       VARCHAR  YES  None    None  None
17                        Vendor       VARCHAR  YES  None    None  None
18              Item Description       VARCHAR  YES  None    None  None
19            Molecule/Test Type       VARCHAR  YES  None    None  None
20                         Brand       VARCHAR  YES  None    None  None
21                        Dosage       VARCHAR  YES  None    None  None
22                   Dosage Form       VARCHAR  YES  None    None  None
23    Unit of Measure (Per Pack)        BIGINT  YES  None    None  None
24            Line Item Quantity        BIGINT  YES  None    None  None
25               Line Item Value        DOUBLE  YES  None    None  None
26                    Pack Price        DOUBLE  YES  None    None  None
27                    Unit Price        DOUBLE  YES  None    None  None
28            Manufacturing Site       VARCHAR  YES  None    None  None
29        First Line Designation       VARCHAR  YES  None    None  None
30            Weight (Kilograms)       VARCHAR  YES  None    None  None
31            Freight Cost (USD)       VARCHAR  YES  None    None  None
32     Line Item Insurance (USD)        DOUBLE  YES  None    None  None
33                    delay_days        BIGINT  YES  None    None  None
34                       is_late        BIGINT  YES  None    None  None

## 4. Load Data into DuckDB

In [8]:
# Create a table with derived date features
query = """
CREATE OR REPLACE TABLE shipments_with_features AS
SELECT 
    *,
    -- Date features from Scheduled Delivery Date
    EXTRACT(YEAR FROM "Scheduled Delivery Date") as scheduled_year,
    EXTRACT(MONTH FROM "Scheduled Delivery Date") as scheduled_month,
    EXTRACT(QUARTER FROM "Scheduled Delivery Date") as scheduled_quarter,
    EXTRACT(DOW FROM "Scheduled Delivery Date") as scheduled_day_of_week,
    EXTRACT(DAY FROM "Scheduled Delivery Date") as scheduled_day_of_month,
    
    -- Lead time calculation
    DATEDIFF('day', "PO Sent to Vendor Date", "Scheduled Delivery Date") as lead_time_days,
    
    -- Financial features (cast VARCHAR to DOUBLE for arithmetic)
    CASE 
        WHEN CAST("Weight (Kilograms)" AS DOUBLE) > 0 
        THEN ROUND(CAST("Freight Cost (USD)" AS DOUBLE) / CAST("Weight (Kilograms)" AS DOUBLE), 2)
        ELSE NULL 
    END as cost_per_kg,
    
    CASE 
        WHEN CAST("Weight (Kilograms)" AS DOUBLE) > 0 
        THEN ROUND("Line Item Value" / CAST("Weight (Kilograms)" AS DOUBLE), 2)
        ELSE NULL 
    END as value_per_kg,
    
    -- Categorical features
    CASE 
        WHEN CAST("Weight (Kilograms)" AS DOUBLE) < 10 THEN 'Light'
        WHEN CAST("Weight (Kilograms)" AS DOUBLE) < 100 THEN 'Medium'
        WHEN CAST("Weight (Kilograms)" AS DOUBLE) < 1000 THEN 'Heavy'
        ELSE 'Very Heavy'
    END as weight_category,
    
    CASE 
        WHEN "Line Item Value" < 1000 THEN 'Low'
        WHEN "Line Item Value" < 10000 THEN 'Medium'
        WHEN "Line Item Value" < 50000 THEN 'High'
        ELSE 'Very High'
    END as value_category,
    
    -- End of month/quarter indicaters (minor typo in comment)
    CASE WHEN EXTRACT(DAY FROM "Scheduled Delivery Date") > 25 THEN 1 ELSE 0 END as is_month_end,
    CASE WHEN EXTRACT(MONTH FROM "Scheduled Delivery Date") IN (3, 6, 9, 12) 
              AND EXTRACT(DAY FROM "Scheduled Delivery Date") > 25 THEN 1 ELSE 0 END as is_quarter_end
    
FROM shipments
"""

conn.execute(query)
print("Feature engineering table created: shipments_with_features")

# Verify new features
sample = conn.execute("SELECT * FROM shipments_with_features LIMIT 5").df()
print("\nSample with new features:")
print(sample[['Country', 'scheduled_month', 'lead_time_days', 'cost_per_kg', 'weight_category', 'is_late']].head())

ConversionException: Conversion Error: Could not convert string 'See ASN-93 (ID#:1281)' to DOUBLE when casting from source column Weight (Kilograms)

LINE 17:         WHEN CAST("Weight (Kilograms)" AS DOUBLE) > 0
                      ^

# Create vendor metrics table
query = """
CREATE OR REPLACE TABLE vendor_metrics AS
SELECT 
    Vendor,
    COUNT(*) as total_shipments,
    ROUND(AVG(CASE WHEN is_late = 1 THEN 1.0 ELSE 0.0 END), 4) as vendor_delay_rate,
    ROUND(AVG(delay_days), 2) as vendor_avg_delay_days,
    ROUND(STDDEV(delay_days), 2) as vendor_delay_std,
    ROUND(AVG(CAST("Freight Cost (USD)" AS DOUBLE)), 2) as vendor_avg_freight_cost,
    ROUND(AVG(CAST("Weight (Kilograms)" AS DOUBLE)), 2) as vendor_avg_weight
FROM shipments
WHERE Vendor IS NOT NULL
GROUP BY Vendor
"""

conn.execute(query)
print("Vendor metrics table created")

# Preview vendor metrics
vendor_metrics_sample = conn.execute("""
    SELECT * FROM vendor_metrics 
    WHERE total_shipments >=20 
    ORDER BY vendor_delay_rate 
    LIMIT 10
""").df()
print("\nTop 10 Vendors by Reliability (min 20 shipments):")
print(vendor_metrics_sample)

In [10]:
# Check for duplicate records
query = """
SELECT 
    COUNT(*) as total_rows,
    COUNT(DISTINCT ID) as unique_ids,
    COUNT(*) - COUNT(DISTINCT ID) as duplicate_ids
FROM shipments
"""

duplicate_check = conn.execute(query).df()
print("Duplicate Check:")
print("="*50)
print(duplicate_check)

Duplicate Check:
==================================================
   total_rows  unique_ids  duplicate_ids
0       10324       10324              0

In [9]:
# Missing value analysis using SQL
query = """
SELECT 
    COUNT(*) as total_rows,
    COUNT(*) - COUNT("Scheduled Delivery Date") as missing_scheduled_date,
    COUNT(*) - COUNT("Delivered to Client Date") as missing_delivered_date,
    COUNT(*) - COUNT("Freight Cost (USD)") as missing_freight_cost,
    COUNT(*) - COUNT("Weight (Kilograms)") as missing_weight,
    COUNT(*) - COUNT("Line Item Insurance (USD)") as missing_insurance
FROM shipments
"""

missing_values = conn.execute(query).df()
print("\nMissing Values Analysis:")
print("="*50)
print(missing_values)

Missing Values Analysis:
==================================================
   total_rows  missing_scheduled_date  missing_delivered_date  \
0       10324                       0                       0

   missing_freight_cost  missing_weight  missing_insurance
0                     0               0                287

# Export ML-ready data to pandas DataFrame
ml_data = conn.execute("SELECT * FROM ml_ready_data").df()

print(f"ML-ready data shape: {ml_data.shape}")
print(f"\nColumns in ML-ready data: {len(ml_data.columns)}")

# Save to CSV
output_path = '../data/interim/02_sql_processed_data.csv'
ml_data.to_csv(output_path, index=False)


print(f"\nData saved to: {output_path}")

In [11]:
# Query 1: Delay rate by country
query = """
SELECT 
    Country,
    COUNT(*) as total_shipments,
    SUM(CASE WHEN is_late = 1 THEN 1 ELSE 0 END) as late_deliveries,
    ROUND(AVG(CASE WHEN is_late = 1 THEN 1.0 ELSE 0.0 END), 4) as delay_rate,
    ROUND(AVG(delay_days), 2) as avg_delay_days,
    ROUND(AVG(CAST("Freight Cost (USD)" AS DOUBLE)), 2) as avg_freight_cost
FROM shipments
WHERE Country IS NOT NULL
GROUP BY Country
HAVING COUNT(*) >= 10
ORDER BY delay_rate DESC
LIMIT 15
"""

country_delay_rates = conn.execute(query).df()
print("Delay Rate by Country (Top 15):")
print("="*80)
print(country_delay_rates)

# Visualize
plt.figure(figsize=(12, 6))
plt.barh(country_delay_rates['Country'], country_delay_rates['delay_rate'])
plt.xlabel('Delay Rate')
plt.title('Top 15 Countries by Delivery Delay Rate (SQL Query)')
plt.tight_layout()
plt.show()

ConversionException: Conversion Error: Could not convert string 'Freight Included in Commodity Cost' to DOUBLE when casting from source column Freight Cost (USD)

LINE 8:     ROUND(AVG(CAST("Freight Cost (USD)" AS DOUBLE)), 2) as avg_freight_co...
                      ^

In [12]:
# Query 2: Shipment mode performance analysis
query = """
SELECT 
    "Shipment Mode",
    COUNT(*) as total_shipments,
    ROUND(AVG(CASE WHEN is_late = 1 THEN 1.0 ELSE 0.0 END), 4) as delay_rate,
    ROUND(AVG(delay_days), 2) as avg_delay_days,
    ROUND(MIN(delay_days), 2) as min_delay_days,
    ROUND(MAX(delay_days), 2) as max_delay_days,
    ROUND(AVG(CAST("Freight Cost (USD)" AS DOUBLE)), 2) as avg_freight_cost,
    ROUND(AVG(CAST("Weight (Kilograms)" AS DOUBLE)), 2) as avg_weight_kg
FROM shipments
WHERE "Shipment Mode" IS NOT NULL
GROUP BY "Shipment Mode"
ORDER BY delay_rate DESC
"""

shipment_mode_analysis = conn.execute(query).df()
print("\nShipment Mode Performance Analysis:")
print("="*80)
print(shipment_mode_analysis)

ConversionException: Conversion Error: Could not convert string 'Freight Included in Commodity Cost' to DOUBLE when casting from source column Freight Cost (USD)

LINE 9:     ROUND(AVG(CAST("Freight Cost (USD)" AS DOUBLE)), 2) as avg_freight_cost...
                      ^

In [13]:
# Query 3: Vendor reliability ranking
query = """
SELECT 
    Vendor,
    COUNT(*) as total_shipments,
    ROUND(AVG(CASE WHEN is_late = 1 THEN 1.0 ELSE 0.0 END), 4) as delay_rate,
    ROUND(AVG(delay_days), 2) as avg_delay_days,
    ROUND(STDDEV(delay_days), 2) as delay_variability
FROM shipments
WHERE Vendor IS NOT NULL
GROUP BY Vendor
HAVING COUNT(*) >= 20
ORDER BY delay_rate ASC
LIMIT 10
"""

top_vendors = conn.execute(query).df()
print("\nTop 10 Most Reliable Vendors (Lowest Delay Rate, min 20 shipments):")
print("="*80)
print(top_vendors)

Top 10 Most Reliable Vendors (Lowest Delay Rate, min 20 shipments):
================================================================================
                                              Vendor  total_shipments  \
0                        Hoffmann-La Roche ltd Basel               23
1                                 MICRO LABS LIMITED               35
2                     GLAXOSMITHKLINE EXPORT LIMITED               20
3                                    PHARMACY DIRECT              326
4                               BRISTOL-MYERS SQUIBB               67
5                               Trinity Biotech, Plc              356
6  MYLAN LABORATORIES LTD (FORMERLY MATRIX LABORA...              317
7                                HETERO LABS LIMITED              277
8                   CHEMBIO DIAGNOSTIC SYSTEMS, INC.              109
9    ABBVIE LOGISTICS (FORMERLY ABBOTT LOGISTICS BV)              347

   delay_rate  avg_delay_days  delay_variability
0      0.0000            0.00               0.00
1      0.0000            0.00               0.00
2      0.0000            0.00               0.00
3      0.0000            0.00               0.00
4      0.0000            0.00               0.00
5      0.0028            0.08               2.34
6      0.0063           -0.62               8.40
7      0.0072           -0.21               1.60
8      0.0092           -4.12              15.17
9      0.0115            0.29               3.27

## 7. Advanced SQL: Window Functions

In [14]:
# Query 4: Rolling vendor performance (30-day rolling delay rate)
query = """
WITH vendor_daily AS (
    SELECT 
        Vendor,
        "Scheduled Delivery Date" as schedule_date,
        is_late,
        delay_days
    FROM shipments
    WHERE Vendor IS NOT NULL 
      AND "Scheduled Delivery Date" IS NOT NULL
)
SELECT 
    Vendor,
    schedule_date,
    is_late,
    delay_days,
    AVG(is_late) OVER (
        PARTITION BY Vendor 
        ORDER BY schedule_date 
        ROWS BETWEEN 29 PRECEDING AND CURRENT ROW
    ) as rolling_30_delay_rate,
    COUNT(*) OVER (
        PARTITION BY Vendor 
        ORDER BY schedule_date 
        ROWS BETWEEN 29 PRECEDING AND CURRENT ROW
    ) as rolling_window_size
FROM vendor_daily
ORDER BY Vendor, schedule_date
LIMIT 100
"""

rolling_vendor_performance = conn.execute(query).df()
print("Rolling Vendor Performance (30-shipment window) - Sample:")
print("="*80)
print(rolling_vendor_performance.head(20))

Rolling Vendor Performance (30-shipment window) - Sample:
================================================================================
                                             Vendor schedule_date  is_late  \
0                 ABBOTT LABORATORIES (PUERTO RICO)    2009-08-07        0
1                             ABBOTT LOGISTICS B.V.    2011-03-08        0
2   ABBVIE LOGISTICS (FORMERLY ABBOTT LOGISTICS BV)    2006-09-15        0
3   ABBVIE LOGISTICS (FORMERLY ABBOTT LOGISTICS BV)    2007-01-30        0
4   ABBVIE LOGISTICS (FORMERLY ABBOTT LOGISTICS BV)    2007-02-15        0
5   ABBVIE LOGISTICS (FORMERLY ABBOTT LOGISTICS BV)    2007-02-16        0
6   ABBVIE LOGISTICS (FORMERLY ABBOTT LOGISTICS BV)    2007-04-16        0
7   ABBVIE LOGISTICS (FORMERLY ABBOTT LOGISTICS BV)    2007-08-27        0
8   ABBVIE LOGISTICS (FORMERLY ABBOTT LOGISTICS BV)    2007-08-27        0
9   ABBVIE LOGISTICS (FORMERLY ABBOTT LOGISTICS BV)    2007-09-10        0
10  ABBVIE LOGISTICS (FORMERLY ABBOTT LOGISTICS BV)    2007-09-10        0
11  ABBVIE LOGISTICS (FORMERLY ABBOTT LOGISTICS BV)    2007-09-10        0
12  ABBVIE LOGISTICS (FORMERLY ABBOTT LOGISTICS BV)    2008-01-22        1
13  ABBVIE LOGISTICS (FORMERLY ABBOTT LOGISTICS BV)    2008-03-06        0
14  ABBVIE LOGISTICS (FORMERLY ABBOTT LOGISTICS BV)    2008-03-28        0
15  ABBVIE LOGISTICS (FORMERLY ABBOTT LOGISTICS BV)    2008-04-11        0
16  ABBVIE LOGISTICS (FORMERLY ABBOTT LOGISTICS BV)    2008-07-14        0
17  ABBVIE LOGISTICS (FORMERLY ABBOTT LOGISTICS BV)    2008-07-16        0
18  ABBVIE LOGISTICS (FORMERLY ABBOTT LOGISTICS BV)    2008-09-29        0
19  ABBVIE LOGISTICS (FORMERLY ABBOTT LOGISTICS BV)    2008-11-16        0

    delay_days  rolling_30_delay_rate  rolling_window_size
0            0               0.000000                    1
1            0               0.000000                    1
2            0               0.000000                    1
3            0               0.000000                    2
4            0               0.000000                    3
5            0               0.000000                    4
6            0               0.000000                    5
7            0               0.000000                    6
8            0               0.000000                    7
9            0               0.000000                   10
10           0               0.000000                    9
11           0               0.000000                    8
12          45               0.090909                   11
13           0               0.083333                   12
14           0               0.076923                   13
15           0               0.071429                   14
16           0               0.066667                   15
17           0               0.062500                   16
18           0               0.058824                   17
19           0               0.055556                   18

In [15]:
# Query 5: Rank vendors by performance within each country
query = """
WITH vendor_country_performance AS (
    SELECT 
        Country,
        Vendor,
        COUNT(*) as shipments,
        ROUND(AVG(CASE WHEN is_late = 1 THEN 1.0 ELSE 0.0 END), 4) as delay_rate,
        ROUND(AVG(delay_days), 2) as avg_delay_days
    FROM shipments
    WHERE Country IS NOT NULL AND Vendor IS NOT NULL
    GROUP BY Country, Vendor
    HAVING COUNT(*) >= 5
)
SELECT 
    Country,
    Vendor,
    shipments,
    delay_rate,
    avg_delay_days,
    RANK() OVER (PARTITION BY Country ORDER BY delay_rate ASC) as reliability_rank
FROM vendor_country_performance
QUALIFY reliability_rank <= 3
ORDER BY Country, reliability_rank
"""

vendor_country_ranking = conn.execute(query).df()
print("\nTop 3 Most Reliable Vendors per Country:")
print("="*80)
print(vendor_country_ranking.head(30))

Top 3 Most Reliable Vendors per Country:
================================================================================
               Country                                             Vendor  \
0                Benin                                      SCMS from RDC
1             Botswana                                      Orgenics, Ltd
2             Botswana                               Trinity Biotech, Plc
3             Botswana                                      SCMS from RDC
4              Burundi                   CHEMBIO DIAGNOSTIC SYSTEMS, INC.
5              Burundi                                      Orgenics, Ltd
6              Burundi                                      SCMS from RDC
7             Cameroon                          Orasure Technologies Inc.
8             Cameroon                                HETERO LABS LIMITED
9             Cameroon                                      CIPLA LIMITED
10            Cameroon  MYLAN LABORATORIES LTD (FORMERLY MATRIX LABORA...
11            Cameroon                                      Orgenics, Ltd
12          Congo, DRC                                      Orgenics, Ltd
13          Congo, DRC                               Trinity Biotech, Plc
14          Congo, DRC                           Aurobindo Pharma Limited
15       Côte d'Ivoire  MERCK SHARP & DOHME IDEA GMBH (FORMALLY MERCK ...
16       Côte d'Ivoire                           Aurobindo Pharma Limited
17       Côte d'Ivoire                                      Orgenics, Ltd
18       Côte d'Ivoire    ABBVIE LOGISTICS (FORMERLY ABBOTT LOGISTICS BV)
19       Côte d'Ivoire                                     IDA FOUNDATION
20       Côte d'Ivoire                   CHEMBIO DIAGNOSTIC SYSTEMS, INC.
21       Côte d'Ivoire  MYLAN LABORATORIES LTD (FORMERLY MATRIX LABORA...
22       Côte d'Ivoire                         Standard Diagnostics, Inc.
23       Côte d'Ivoire                               BRISTOL-MYERS SQUIBB
24  Dominican Republic                         Standard Diagnostics, Inc.
25  Dominican Republic                                      Orgenics, Ltd
26  Dominican Republic                                      SCMS from RDC
27            Ethiopia                   CHEMBIO DIAGNOSTIC SYSTEMS, INC.
28            Ethiopia                               Trinity Biotech, Plc
29            Ethiopia      SHANGHAI KEHUA BIOENGINEERING CO.,LTD.  (KHB)

    shipments  delay_rate  avg_delay_days  reliability_rank
0           9      0.3333            4.11                 1
1          17      0.0000          -12.29                 1
2          19      0.0000            0.00                 1
3           7      0.0000            0.00                 1
4          11      0.0000            0.00                 1
5          14      0.0000            0.00                 1
6          72      0.5278          -11.50                 3
7           7      0.0000            0.00                 1
8           5      0.0000            0.00                 1
9           7      0.0000           -1.43                 1
10          5      0.0000            0.00                 1
11         10      0.0000            0.00                 1
12         28      0.0000            0.00                 1
13         56      0.0000            0.00                 1
14         13      0.0769            0.62                 3
15         18      0.0000            0.00                 1
16         19      0.0000            0.00                 1
17         53      0.0000           -0.08                 1
18         47      0.0000            0.00                 1
19          6      0.0000            0.00                 1
20         27      0.0000            0.00                 1
21         16      0.0000            0.00                 1
22         22      0.0000            0.00                 1
23         16      0.0000            0.00                 1
24          6      0.0000            0.00                 1
25          6      0.0000            0.00                 1
26         26      0.1538          -21.23                 3
27         18      0.0000           -5.44                 1
28         14      0.0000            0.00                 1
29         32      0.0000           -0.75                 1

## 8. Complex SQL: CTEs and Joins

In [16]:
# Query 6: Route analysis (Vendor-Country-Mode combinations)
query = """
WITH route_performance AS (
    SELECT 
        Vendor,
        Country,
        "Shipment Mode" as shipment_mode,
        COUNT(*) as total_shipments,
        AVG(CASE WHEN is_late = 1 THEN 1.0 ELSE 0.0 END) as delay_rate,
        AVG(delay_days) as avg_delay_days,
        AVG(CAST("Freight Cost (USD)" AS DOUBLE)) as avg_freight_cost
    FROM shipments
    WHERE Vendor IS NOT NULL 
      AND Country IS NOT NULL 
      AND "Shipment Mode" IS NOT NULL
    GROUP BY Vendor, Country, "Shipment Mode"
    HAVING COUNT(*) >= 5
),
route_stats AS (
    SELECT 
        *,
        ROUND(delay_rate, 4) as rounded_delay_rate,
        ROUND(avg_delay_days, 2) as rounded_avg_delay,
        ROUND(avg_freight_cost, 2) as rounded_avg_freight
    FROM route_performance
)
SELECT 
    Vendor,
    Country,
    shipment_mode,
    total_shipments,
    rounded_delay_rate as delay_rate,
    rounded_avg_delay as avg_delay_days,
    rounded_avg_freight as avg_freight_cost,
    CASE 
        WHEN rounded_delay_rate < 0.1 THEN 'Excellent'
        WHEN rounded_delay_rate < 0.25 THEN 'Good'
        WHEN rounded_delay_rate < 0.5 THEN 'Fair'
        ELSE 'Poor'
    END as performance_category
FROM route_stats
ORDER BY delay_rate DESC
LIMIT 20
"""

route_analysis = conn.execute(query).df()
print("Route Analysis (Vendor-Country-Mode combinations) - Worst 20:")
print("="*100)
print(route_analysis)

ConversionException: Conversion Error: Could not convert string 'Freight Included in Commodity Cost' to DOUBLE when casting from source column Freight Cost (USD)

LINE 10:         AVG(CAST("Freight Cost (USD)" AS DOUBLE)) as avg_freight_cost
                     ^

## 9. Feature Engineering with SQL

In [17]:
# Create a table with derived date features
query = """
CREATE OR REPLACE TABLE shipments_with_features AS
SELECT 
    *,
    -- Date features from Scheduled Delivery Date
    EXTRACT(YEAR FROM "Scheduled Delivery Date") as scheduled_year,
    EXTRACT(MONTH FROM "Scheduled Delivery Date") as scheduled_month,
    EXTRACT(QUARTER FROM "Scheduled Delivery Date") as scheduled_quarter,
    EXTRACT(DOW FROM "Scheduled Delivery Date") as scheduled_day_of_week,
    EXTRACT(DAY FROM "Scheduled Delivery Date") as scheduled_day_of_month,
    
    -- Lead time calculation
    DATEDIFF('day', "PO Sent to Vendor Date", "Scheduled Delivery Date") as lead_time_days,
    
    -- Financial features (cast VARCHAR to DOUBLE for arithmetic)
    CASE 
        WHEN CAST("Weight (Kilograms)" AS DOUBLE) > 0 
        THEN ROUND(CAST("Freight Cost (USD)" AS DOUBLE) / CAST("Weight (Kilograms)" AS DOUBLE), 2)
        ELSE NULL 
    END as cost_per_kg,
    
    CASE 
        WHEN CAST("Weight (Kilograms)" AS DOUBLE) > 0 
        THEN ROUND("Line Item Value" / CAST("Weight (Kilograms)" AS DOUBLE), 2)
        ELSE NULL 
    END as value_per_kg,
    
    -- Categorical features
    CASE 
        WHEN CAST("Weight (Kilograms)" AS DOUBLE) < 10 THEN 'Light'
        WHEN CAST("Weight (Kilograms)" AS DOUBLE) < 100 THEN 'Medium'
        WHEN CAST("Weight (Kilograms)" AS DOUBLE) < 1000 THEN 'Heavy'
        ELSE 'Very Heavy'
    END as weight_category,
    
    CASE 
        WHEN "Line Item Value" < 1000 THEN 'Low'
        WHEN "Line Item Value" < 10000 THEN 'Medium'
        WHEN "Line Item Value" < 50000 THEN 'High'
        ELSE 'Very High'
    END as value_category,
    
    -- End of month/quarter indicators
    CASE WHEN EXTRACT(DAY FROM "Scheduled Delivery Date") > 25 THEN 1 ELSE 0 END as is_month_end,
    CASE WHEN EXTRACT(MONTH FROM "Scheduled Delivery Date") IN (3, 6, 9, 12) 
              AND EXTRACT(DAY FROM "Scheduled Delivery Date") > 25 THEN 1 ELSE 0 END as is_quarter_end
    
FROM shipments
"""

conn.execute(query)
print("Feature engineering table created: shipments_with_features")

# Verify new features
sample = conn.execute("SELECT * FROM shipments_with_features LIMIT 5").df()
print("\nSample with new features:")
print(sample[['Country', 'scheduled_month', 'lead_time_days', 'cost_per_kg', 'weight_category', 'is_late']].head())

ConversionException: Conversion Error: Could not convert string 'See ASN-93 (ID#:1281)' to DOUBLE when casting from source column Weight (Kilograms)

LINE 17:         WHEN CAST("Weight (Kilograms)" AS DOUBLE) > 0
                      ^

## 10. Create Vendor and Country Metrics Tables

In [18]:
# Create vendor metrics table
query = """
CREATE OR REPLACE TABLE vendor_metrics AS
SELECT 
    Vendor,
    COUNT(*) as total_shipments,
    ROUND(AVG(CASE WHEN is_late = 1 THEN 1.0 ELSE 0.0 END), 4) as vendor_delay_rate,
    ROUND(AVG(delay_days), 2) as vendor_avg_delay_days,
    ROUND(STDDEV(delay_days), 2) as vendor_delay_std,
    ROUND(AVG(CAST("Freight Cost (USD)" AS DOUBLE)), 2) as vendor_avg_freight_cost,
    ROUND(AVG(CAST("Weight (Kilograms)" AS DOUBLE)), 2) as vendor_avg_weight
FROM shipments
WHERE Vendor IS NOT NULL
GROUP BY Vendor
"""

conn.execute(query)
print("Vendor metrics table created")

# Preview vendor metrics
vendor_metrics_sample = conn.execute("""
    SELECT * FROM vendor_metrics 
    WHERE total_shipments >= 20 
    ORDER BY vendor_delay_rate 
    LIMIT 10
""").df()
print("\nTop 10 Vendors by Reliability (min 20 shipments):")
print(vendor_metrics_sample)

ConversionException: Conversion Error: Could not convert string 'Freight Included in Commodity Cost' to DOUBLE when casting from source column Freight Cost (USD)

LINE 9:     ROUND(AVG(CAST("Freight Cost (USD)" AS DOUBLE)), 2) as vendor_avg_fre...
                      ^

In [19]:
# Create country metrics table
query = """
CREATE OR REPLACE TABLE country_metrics AS
SELECT 
    Country,
    COUNT(*) as total_shipments,
    ROUND(AVG(CASE WHEN is_late = 1 THEN 1.0 ELSE 0.0 END), 4) as country_delay_rate,
    ROUND(AVG(delay_days), 2) as country_avg_delay_days,
    ROUND(AVG(CAST("Freight Cost (USD)" AS DOUBLE)), 2) as country_avg_freight_cost,
    COUNT(DISTINCT Vendor) as num_vendors,
    COUNT(DISTINCT "Shipment Mode") as num_shipment_modes
FROM shipments
WHERE Country IS NOT NULL
GROUP BY Country
"""

conn.execute(query)
print("\nCountry metrics table created")

# Preview country metrics
country_metrics_sample = conn.execute("""
    SELECT * FROM country_metrics 
    ORDER BY country_delay_rate DESC 
    LIMIT 10
""").df()
print("\nTop 10 Countries by Delay Rate:")
print(country_metrics_sample)

ConversionException: Conversion Error: Could not convert string 'Freight Included in Commodity Cost' to DOUBLE when casting from source column Freight Cost (USD)

LINE 8:     ROUND(AVG(CAST("Freight Cost (USD)" AS DOUBLE)), 2) as country_avg_fr...
                      ^

## 11. Create Combined View for ML Pipeline

In [ ]:
# Create a comprehensive view joining shipments with vendor and country metrics
query = """
CREATE OR REPLACE VIEW ml_ready_data AS
SELECT 
    s.*,
    vm.vendor_delay_rate,
    vm.vendor_avg_delay_days,
    vm.vendor_delay_std,
    cm.country_delay_rate,
    cm.country_avg_delay_days,
    cm.num_vendors as country_num_vendors,
    cm.num_shipment_modes as country_num_modes
FROM shipments_with_features s
LEFT JOIN vendor_metrics vm ON s.Vendor = vm.Vendor
LEFT JOIN country_metrics cm ON s.Country = cm.Country
"""

conn.execute(query)
print("ML-ready view created: ml_ready_data")

# Check the view
view_info = conn.execute("""
    SELECT COUNT(*) as row_count, 
           COUNT(*) FILTER (WHERE is_late = 1) as late_count,
           ROUND(AVG(CASE WHEN is_late = 1 THEN 1.0 ELSE 0.0 END), 4) as overall_delay_rate
    FROM ml_ready_data
""").df()
print("\nML-Ready Data Summary:")
print(view_info)

## 12. Business Intelligence Queries

In [ ]:
# Query 7: Monthly trend analysis
query = """
SELECT 
    scheduled_year,
    scheduled_month,
    COUNT(*) as shipments,
    ROUND(AVG(CASE WHEN is_late = 1 THEN 1.0 ELSE 0.0 END), 4) as delay_rate,
    ROUND(AVG(delay_days), 2) as avg_delay_days,
    ROUND(AVG(CAST("Freight Cost (USD)" AS DOUBLE)), 2) as avg_freight_cost
FROM shipments_with_features
WHERE scheduled_year IS NOT NULL AND scheduled_month IS NOT NULL
GROUP BY scheduled_year, scheduled_month
ORDER BY scheduled_year, scheduled_month
"""

monthly_trends = conn.execute(query).df()
print("Monthly Trends:")
print("="*80)
print(monthly_trends)

# Visualize monthly delay rate trend
if len(monthly_trends) > 0:
    monthly_trends['year_month'] = monthly_trends['scheduled_year'].astype(str) + '-' + \
                                    monthly_trends['scheduled_month'].astype(str).str.zfill(2)
    
    plt.figure(figsize=(14, 5))
    plt.plot(monthly_trends['year_month'], monthly_trends['delay_rate'], marker='o')
    plt.title('Delivery Delay Rate Over Time (SQL Query)')
    plt.xlabel('Month')
    plt.ylabel('Delay Rate')
    plt.xticks(rotation=45)
    plt.grid(True, alpha=0.3)
    plt.tight_layout()
    plt.show()

In [ ]:
# Query 8: Cost analysis by weight category and shipment mode
query = """
SELECT 
    weight_category,
    "Shipment Mode" as shipment_mode,
    COUNT(*) as shipments,
    ROUND(AVG(CAST("Freight Cost (USD)" AS DOUBLE)), 2) as avg_freight_cost,
    ROUND(AVG(cost_per_kg), 2) as avg_cost_per_kg,
    ROUND(AVG(CASE WHEN is_late = 1 THEN 1.0 ELSE 0.0 END), 4) as delay_rate
FROM shipments_with_features
WHERE weight_category IS NOT NULL AND "Shipment Mode" IS NOT NULL
GROUP BY weight_category, "Shipment Mode"
ORDER BY weight_category, avg_freight_cost DESC
"""

cost_analysis = conn.execute(query).df()
print("\nCost Analysis by Weight Category and Shipment Mode:")
print("="*80)
print(cost_analysis)

## 13. Export Processed Data

In [ ]:
# Export ML-ready data to pandas DataFrame
ml_data = conn.execute("SELECT * FROM ml_ready_data").df()

print(f"ML-ready data shape: {ml_data.shape}")
print(f"\nColumns in ML-ready data: {len(ml_data.columns)}")

# Save to CSV
output_path = '../data/interim/02_sql_processed_data.csv'
ml_data.to_csv(output_path, index=False)
print(f"\nData saved to: {output_path}")

In [ ]:
# Show sample of processed data with new features
feature_cols = [
    'Country', 'Vendor', 'Shipment Mode',
    'is_late', 'delay_days',
    'scheduled_month', 'lead_time_days', 'cost_per_kg',
    'weight_category', 'vendor_delay_rate', 'country_delay_rate'
]

available_cols = [col for col in feature_cols if col in ml_data.columns]

print("\nSample of processed data with SQL-derived features:")
print("="*80)
print(ml_data[available_cols].head(10))

## 14. Database Summary & Available Tables

In [ ]:
# List all tables and views
tables = conn.execute("""
    SELECT table_name, table_type 
    FROM information_schema.tables 
    WHERE table_schema = 'main'
""").df()

print("Database Objects Created:")
print("="*50)
print(tables)

# Show row counts
print("\nRow Counts:")
print("="*50)
for table_name in tables['table_name']:
    count = conn.execute(f"SELECT COUNT(*) FROM {table_name}").fetchone()[0]
    print(f"{table_name}: {count:,} rows")

## 15. Summary & Key SQL Demonstrations

In [20]:
print("="*80)
print("SUMMARY - SQL DATA PROCESSING")
print("="*80)

print("\n✅ SQL Skills Demonstrated:")
print("   1. Database setup and table creation (DuckDB)")
print("   2. Aggregation queries (GROUP BY, HAVING)")
print("   3. Window functions (rolling calculations, RANK)")
print("   4. CTEs (WITH clauses) and subqueries")
print("   5. JOINs (LEFT JOIN for metrics enrichment)")
print("   6. Date functions (EXTRACT, DATEDIFF)")
print("   7. CASE statements for feature engineering")
print("   8. Views creation for ML pipeline")

print("\n📊 Database Objects Created:")
print("   - shipments (main table)")
print("   - shipments_with_features (with derived features)")
print("   - vendor_metrics (aggregated vendor stats)")
print("   - country_metrics (aggregated country stats)")
print("   - ml_ready_data (view combining all features)")

print("\n🎯 Features Created via SQL:")
print("   - Date features (month, quarter, day of week)")
print("   - Lead time calculations")
print("   - Cost per kg, value per kg")
print("   - Weight and value categories")
print("   - Vendor historical performance metrics")
print("   - Country historical metrics")
print("   - End of month/quarter indicators")

print("\n📁 Data Exported:")
print(f"   - {output_path}")
print(f"   - Shape: {ml_data.shape}")

print("\n➡️ Next Steps:")
print("   - Notebook 3: Feature Engineering (additional features)")
print("   - Notebook 4: Baseline ML Models")
print("="*80)

================================================================================
SUMMARY - SQL DATA PROCESSING
================================================================================

✅ SQL Skills Demonstrated:
   1. Database setup and table creation (DuckDB)
   2. Aggregation queries (GROUP BY, HAVING)
   3. Window functions (rolling calculations, RANK)
   4. CTEs (WITH clauses) and subqueries
   5. JOINs (LEFT JOIN for metrics enrichment)
   6. Date functions (EXTRACT, DATEDIFF)
   7. CASE statements for feature engineering
   8. Views creation for ML pipeline

📊 Database Objects Created:
   - shipments (main table)
   - shipments_with_features (with derived features)
   - vendor_metrics (aggregated vendor stats)
   - country_metrics (aggregated country stats)
   - ml_ready_data (view combining all features)

🎯 Features Created via SQL:
   - Date features (month, quarter, day of week)
   - Lead time calculations
   - Cost per kg, value per kg
   - Weight and value categories
   - Vendor historical performance metrics
   - Country historical metrics
   - End of month/quarter indicators

📁 Data Exported:

NameError: name 'output_path' is not defined

In [21]:
# Close database connection
conn.close()
print("\nDuckDB connection closed.")

DuckDB connection closed.